<html>
  <head>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">model-hub</a>
        <!-- TODO A better way to display user email? -->
        <a href="/user" class="brand-logo center"><%= email %></a> 
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="active"><a href="/user"><i class="material-icons">home</i></a></li>
          <li><a href="/logout"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <% if(offers.length > 0) { %>
        <div class="row">
          <h4 class="center-align">Offers</h4>
          <ul>
            <% for(let i=0;i<offers.length;i++){ %>
              <li>
                <%= offers[i].from %>:<%= offers[i].type %>
                <form action="/models/<%= offers[i].model %>/<%= offers[i].type %>?_method=PUT" method="post">
                  <button type="submit">Accept</button>
                </form></li>
            <% } %>
          </ul>
        </div>
      <% } %>
      
  
      <h4 class="center-align">Models</h4>
      <div class="row">
        <% for(let i=0;i<models.length; i++) { %>
          <div class="col s12 m6 l4">
            <div class="card large">
              <div class="card-image">
                <img src="data:image/jpeg;base64,<%= models[i].poster.data.buffer.toString('base64') %>">
              </div>
              <div class="card-content">
                <span class="card-title"><%= models[i].title %></span>
                <p><%= models[i].desc %></p>
              </div>
              <div class="card-action">
                <a href="/models/<%= models[i]._id %>">More</a>
              </div>
            </div>
          </div>
        <% } %>
        <!-- Repeats first 3 times -->
        <% for(let i=0;i<3; i++) { %>
          <div class="col s12 m6 l4">
            <div class="card large">
              <div class="card-image">
                <img src="data:image/jpeg;base64,<%= models[0].poster.data.buffer.toString('base64') %>">
              </div>
              <div class="card-content">
                <span class="card-title"><%= models[0].title %></span>
                <p><%= models[0].desc %></p>
              </div>
              <div class="card-action">
                <a href="/models/<%= models[0]._id %>">More</a>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>