<html>
  <head>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">model-hub</a>
        <!-- TODO A better way to display user email? -->
        <a href="/user" class="brand-logo center"><%= email %></a> 
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="active"><a href="/user"><i class="material-icons">home</i></a></li>
          <li><a href="/logout"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <h5 class="center-align">Memory used</h5>
          <div class="progress col s6 offset-s3" style="height: 10px;">
            <div class="determinate" style="width: <%= memory / (100*1024*1024) * 100 %>%;"></div>
          </div><br>
          <p class="center-align"><%= Math.ceil(memory / (1024*1024)) %>mb / <%= 100 %>mb</p>
        </div>
      </div>
      <% if(offers.length > 0) { %>
        <div class="row">
          <h4 class="center-align">Offers</h4>
          <ul>
            <% for(let i=0;i<offers.length;i++){ %>
              <li>
                <%= offers[i].from %>:<%= offers[i].type %>
                <form action="/models/<%= offers[i].model %>/<%= offers[i].type %>?_method=PUT" method="post">
                  <button type="submit">Accept</button>
                </form></li>
            <% } %>
          </ul>
        </div>
      <% } %>

      <div class="row">
        <div class="col s6 offset-s3">
          <ul class="tabs">
            <li class="tab col s6"><a class="active" href="#models">Models</a></li>
            <li class="tab col s6"><a href="#views">Views</a></li>
          </ul>
        </div>
        <div id="models" class="col s12">
          <% for(let i=0;i<models.length; i++) { %>
            <div class="col s6 m4 l3">
              <div class="card medium">
                <div class="card-image">
                  <img src="data:image/jpeg;base64,<%= models[i].poster.data.buffer.toString('base64') %>">
                </div>
                <div class="card-content">
                  <span class="card-title"><%= models[i].title %></span>
                  <p><%= models[i].desc %></p>
                </div>
                <div class="card-action">
                  <a href="/models/<%= models[i]._id %>">More</a>
                </div>
              </div>
            </div>
          <% } %>
        </div>
        <div id="views" class="col s12">
          <% for(let i=0;i<views.length; i++) { %>
            <div class="col s6 m4 l3">
              <div class="card medium">
                <div class="card-image">
                  <img src="data:image/jpeg;base64,<%= views[i].poster.data.buffer.toString('base64') %>">
                </div>
                <div class="card-content">
                  <span class="card-title"><%= views[i].title %></span>
                  <p><%= views[i].desc %></p>
                </div>
                <div class="card-action">
                  <a href="/models/<%= views[i]._id %>">More</a>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
  <script>
    //var instance = M.Tabs.init(el);
    document.addEventListener('DOMContentLoaded', () => {
      let elems = document.querySelectorAll('.tabs');
      let instances = M.Tabs.init(elems);
    });
  </script>
</html>